{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block msg %} {% endblock msg %}
{% block side %} {% endblock side %}
{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset Complete Successfully !!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" frameborder="0" class="giphy-embed"
                    height="200" width="200" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock content %}